.body {
  margin: 0;
  padding: 0
}


::before
::after {
  box-sizing: border-box;
}

.container {
  margin-left: 33px;
  margin-top: 30px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}

.header {
  background-image: url(../img/gl.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-logo {
  margin-right: 362px;
}

.header-line {
  padding-top: 30px;
  display: flex;
  position: absolute; 
}


.nav {
  align-items: center;
  margin-top: 44px;
}


.nav-item {
  color: #FFF0DD;
  text-decoration: none;
  font-family: "Raleway", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 99px;
}

.zn {
  margin-left: 400px;
  margin-top: 31px;
}

.header-down {
  color: #FFF0DD;
  text-decoration: none;
}

.header-title {
  font-family: 'Josefin Slab', serif;
  font-size: 205px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 57.4px;
  position: relative;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: 400px;
}

.header-subtitle {
  font-family: "Raleway", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 10px;
  position: absolute;
  left: 330px;
}

.a {
  font-family: "Raleway", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.16px;
}

.a1 {
  color: #FAF0DC;
  margin-left: 130px;
}

.page2 {
  background-color: #FFF0DD;
  height: 100vh;
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-top: 65px;
}

.ph {
  color: #1D1B13;
  text-align: center;
  font-family: "Raleway", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-top: 575px;
}

.stroke1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stroke2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  padding-top: 67px;
  background-color: #FFF0DD;
  width: 100%;
  height: 100vh;
}

.section-header {
  width: 100%;
  text-align: left;
}

.a2 {
  color: #1D1B13;
  margin-top: 60px;
  margin-left: 130px;
  margin-bottom: 1px;
}

.cards {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 30%;
  bottom: 0;
  align-items: center;
}

.pics {
  width: 312px;
  height: 428px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.p {
  width: 312px;
  height: 428px;
}

.name {
  width: 312px;
  height: 69px;
  border-radius: 0px 0px 34.5px 34.5px;
  background: #1D1B13;
  margin: 0;
}

.name-p {
  color: #FAF0DC;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  margin: 20px 0;
}

.inf {
  text-align: center;
  margin:0;
  bottom: 0;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  color: #1D1B13;
}

.button button{
  appearance: none;
  border: 0;
  text-decoration: none;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  border-radius: 0;
  width: 227px;
  height: 50px;
  color: #FAF0DC;
  user-select: none;
  background: #1D1B13;
  padding: 0;
  outline: none; 
  border-radius: 35px;
  margin: auto;
  transition: 0.2s;
}
.button button:hover { background: #514C26}; 
.button button:active { background :#1D1B13};

.photo-hors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  flex-wrap: nowrap;
  width: 100%;
}

.horse {
  width: 332px;
  height: 618px;
  display: inline-block;
  margin:70px;
}

.button-centre {
  display: flex;
  justify-content: center;
}

.button-centre button{
  appearance: none;
  border: 0;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  border-radius: 0;
  width: 227px;
  height: 50px;
  color: #FAF0DC;
  user-select: none;
  background: #1D1B13;
  padding: 0;
  outline: none; 
  border-radius: 35px;
  margin: auto;
  transition: 0.2s;
}
.button-centre button:hover { background: #514C26}; 
.button-centre button:active { background :#1D1B13};

.photo {
  align-items: center; 
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 928px;
  bottom: 0;
}

.pic {
  display: inline-block;
  margin-left: 1%;
}

.section-footer {
  background-color: #1D1B13;
  height: 100vh;
  background-image: url(../img/fot.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position:relative;
}

.head {
  font-family: "Raleway", serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8.16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.head-er{
  color: #1D1B13;
  margin:0;
  margin-top: 55px;
  margin-right: 130px;
  margin-left: 130px;
}


.head2{
  margin-top: 65px;
  color: #1D1B13;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}

.footer-line {
  padding-left: 33px;
  display: flex;
  margin-top: 80;
  position:absolute; 
  bottom:20px;
}

input,
textarea {
  box-sizing: border-box;
}

.text {
  color: #514C26;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.form {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background: #FAF0DC;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  width: 350px;
  height: 400px;
  border-radius: 65px;
  justify-content: center; 
  margin-left: 58%;
}

.topic {
  margin-bottom: 20px;
}

.input-box {
  height: 80px; 
  width: 350px; 
  margin: 30px; 
}

.input-box input,
.input-box textarea {
  height: 100%; 
  width: 100%; 
  border: none; 
  border-radius: 30px;
  background: #F2E3C5; 
  padding: 0 20px; 
}

.input-box textarea {
  resize: none; 
  font-family: Raleway;
  font-size: 18px;
}

.message-box {
  min-height: 110px; 
}

.button-form {
  display: inline-block; 
}
.button-form input[type="button"] {
  color: #FAF0DC;
  background: #1D1B13;
  outline: none;
  transition: 0.2s; 
  border: 0;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 200px;
  height: 45px;
  user-select: none;
  padding: 0;
  border-radius: 35px;
  margin-left: 90px;
}

.button-form input[type="button"]:hover {
  background: #514C26;
}

@media (max-width:356px){
  .header-line {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .header-logo {
    margin-left: 0;
    margin-right: 20px;
  }
  .nav-item {
    margin: 0;
  }
  .zn {
    margin-left: 20px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  .header-down {
    font-size: 30px;
  }
  .header-title {
    font-size: 18px;
    margin-left: 30px;
  }
  .header-subtitle {
    font-size: 18px;
    left: 20px;
  }
  .p {
    margin-right: 0;
  }
  .stroke1 {
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ph {
    margin: 0;
  }
  .stroke2 {
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .page2 {
    height: 558px;
  }
  .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .inf {
    font-size: 18px;
    margin: 0;
  }
  .section {
    height: auto;
    margin-top: auto;
  }
  .a2 {
    margin: 0;
  }
  .photo-hors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .horse {
    width: auto;
    height: auto;
    margin:10px;
  }
  .photo {
    width: auto;
  }
  .pic {
    width: auto;
    margin-left:-50px;
  }
  .head {
    margin:0;
    display: flex;
    flex-direction: column;
  }
  .head-er {
    font-size: 24px;
    margin:0;
  }

  .head2{
    font-size: 18px;
    margin:0;
  }
  .form {
    margin-top: 40px;
    margin-left:8px;
    margin-bottom: 0;
    width: 260px;
    height: 280px;
  }
  .input-box {
    height: 50px; 
    width: 300px; 
  }
  .footer-line {
    margin: 0;
    padding-left: 33px;
    flex-direction:row;
    display: flex;
    margin-top: 80;
    position:absolute; 
    bottom:20px;
  }
  
}






